.hero-container {
    display: flex;
    gap: 20px; // Distanza tra i due div
    margin: 2rem auto;
    width:96%;

    align-items: stretch; // Assicura che i div figli abbiano la stessa altezza

    .left-section, .right-section {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        padding: 2rem;
        gap: 10px;
    
        p {
            color: white;
            font-size: 0.8rem;
        }
        
        p:first-of-type {
            font-weight: bold;
            font-size: 1rem !important;
        }
    }

    .left-section {
        flex: 6; // 60%
    }

    .right-section {
        flex: 4; // 40%
    }




    .img_hero_one {
        width: 100%;
    }
    .p_p{
        display:flex;
        flex-direction:column;
        gap:8px;
        align-items: center;
        margin-bottom:1rem;
    }

    .right-section {

        .content {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            border-radius: 1rem;
            padding:2rem 1rem;
            margin:0 auto 0 auto;
            width:300px;
            align-items: center;
            background-color: #fff;
            color:black !important;
            p{
                color:black !important;
                padding:0px;
                margin:0;
            }

            h1{
                color:#4A90E2;
                font-size:1.2rem;
            }
            
        }

     
    }

  
  
    button {
        padding: 10px 20px;
        background-color: #4A90E2;
        color: white;
        border: none;
        cursor: pointer;
        border-radius:50px;
        width:100%;
        transition: background-color 0.2s;

        &:hover {
            background-color: darken(#4A90E2, 10%);
        }
    }
}


/* ... Il tuo stile attuale ... */

/* Media query per schermi di larghezza massima di 768px */
@media (max-width: 768px) {
    .hero-container {
        flex-direction: column;

        .left-section, .right-section {
            width: 100%; // Usa l'intera larghezza disponibile
            margin: 0 auto; // Centra orizzontalmente
            padding: 1rem; // Riduci il padding per gli schermi più piccoli
        }

        .right-section .content {
            width: 86%; // Riduci la larghezza del contenuto
            margin: 1rem auto; // Aggiusta i margini per centrarlo
        }
    }
}
