<div class="coverage-container">
    <div class="header">
        <h1>Le coperture di Yolo Home</h1>
        <button> 
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="function NEW">
                <mask id="mask0_40_172" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                <rect id="Rectangle 1" width="24" height="24" fill="#D9D9D9"/>
                </mask>
                <g mask="url(#mask0_40_172)">
                <g id="Vector">
                <path d="M14.9234 10.579L12.4738 13.0286V3.94737C12.4738 3.91466 12.4721 3.88235 12.4688 3.85051C12.4203 3.37279 12.0169 3 11.5264 3C11.0032 3 10.579 3.42415 10.579 3.94737V13.0286L8.12931 10.5789C7.75935 10.2089 7.1595 10.2089 6.78954 10.5789C6.41956 10.9489 6.41956 11.5487 6.78954 11.9187L10.8565 15.9857C11.0342 16.1633 11.2752 16.2632 11.5264 16.2632C11.7776 16.2632 12.0186 16.1633 12.1963 15.9857L16.2632 11.9187C16.3095 11.8725 16.3499 11.8227 16.3846 11.7701C16.6274 11.4024 16.5869 10.9027 16.2632 10.579C15.8932 10.209 15.2934 10.209 14.9234 10.579Z" fill="#4A90E2"/>
                <path d="M3.94737 14.3684C4.47059 14.3684 4.89473 14.7926 4.89473 15.3158V19.1053H18.1579V15.3158C18.1579 14.7926 18.582 14.3684 19.1052 14.3684C19.6285 14.3684 20.0526 14.7926 20.0526 15.3158V19.1053C20.0526 20.1517 19.2043 21 18.1579 21H4.89473C3.8483 21 3 20.1517 3 19.1053V15.3158C3 14.7926 3.42415 14.3684 3.94737 14.3684Z" fill="#4A90E2"/>
                </g>
                </g>
                </g>
                </svg>
                
            SCARICA IL SET INFORMATIVO</button>
    </div>
    <p>Personalizza la tua polizza in base alle tue esigenze. Scopri le garanzie acquistabili e scegli quelle che fanno più al caso tuo!</p>
    
    <div class="coverage-section">
        <h2>Protezione casa</h2>
        <!-- Ripeti il seguente div per ogni elemento di copertura -->
       <div class="flex-flex">
        <div class="coverage-item">
            <img src="../../assets/img/Group 1320.svg" alt="Icona">
            <p>Descrizione breve ura</p>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati neque quos sapiente iste totam </p>
            <div class="function_new">
                <img src="../../assets/img/function NEW.svg" alt="">
              <button>MOSTRA DETTAGLI</button>
            </div>
        </div>
        <div class="coverage-item">
            <img src="../../assets/img/Group 1320.svg" alt="Icona">
            <p>Descrizione breve ura</p>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati neque quos sapiente iste totam </p>
            <div class="function_new">
                <img src="../../assets/img/function NEW.svg" alt="">
              <button>MOSTRA DETTAGLI</button>
            </div>
        </div>
        <div class="coverage-item">
            <img src="../../assets/img/Group 1320.svg" alt="Icona">
            <p>Descrizione breve ura</p>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati neque quos sapiente iste totam </p>
            <div class="function_new">
                <img src="../../assets/img/function NEW.svg" alt="">
              <button>MOSTRA DETTAGLI</button>
            </div>
        </div>
       </div>
    </div>

    <div class="coverage-section">
        <h2>Protezione famiglia</h2>
        <!-- Ripeti il seguente div per ogni elemento di copertura -->
      <div  class="flex-flex">
        <div class="coverage-item">
            <img src="../../assets/img/Group 1320.svg" alt="Icona">
            <p>Descrizione breve ura</p>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati neque quos sapiente iste totam </p>
            <div class="function_new">
                <img src="../../assets/img/function NEW.svg" alt="">
              <button>MOSTRA DETTAGLI</button>
            </div>
        </div>
        <div class="coverage-item">
            <img src="../../assets/img/Group 1320.svg" alt="Icona">
            <p>Descrizione breve ura</p>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati neque quos sapiente iste totam </p>
            <div class="function_new">
                <img src="../../assets/img/function NEW.svg" alt="">
              <button>MOSTRA DETTAGLI</button>
            </div>
        </div>
      </div>
    </div>

    <div class="coverage-section">
        <h2>Protezione e tutela legale</h2>
        <!-- Ripeti il seguente div per ogni elemento di copertura -->
       <div  class="flex-flex">
        <div class="coverage-item">
            <img src="../../assets/img/Group 1320.svg" alt="Icona">
            <p>Descrizione breve ura</p>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati neque quos sapiente iste totam </p>
            <div class="function_new">
                <img src="../../assets/img/function NEW.svg" alt="">
              <button>MOSTRA DETTAGLI</button>
            </div>
        </div>
        <div class="coverage-item">
            <img src="../../assets/img/Group 1320.svg" alt="Icona">
            <p>Descrizione breve ura</p>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati neque quos sapiente iste totam </p>
            <div class="function_new">
                <img src="../../assets/img/function NEW.svg" alt="">
              <button>MOSTRA DETTAGLI</button>
            </div>
        </div>
       </div>
    </div>

    <!-- Ripeti .coverage-section per le altre sezioni... -->
</div>
